<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarong.p2p.api.mybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.huarong.p2p.api.mybatis.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="vipStatus" jdbcType="INTEGER" property="vipstatus" />
    <result column="authStep" jdbcType="INTEGER" property="authstep" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="dealpwd" jdbcType="VARCHAR" property="dealpwd" />
    <result column="mobilePhone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="refferee" jdbcType="VARCHAR" property="refferee" />
    <result column="rating" jdbcType="INTEGER" property="rating" />
    <result column="creditrating" jdbcType="INTEGER" property="creditrating" />
    <result column="lastIP" jdbcType="VARCHAR" property="lastip" />
    <result column="lastDate" jdbcType="TIMESTAMP" property="lastdate" />
    <result column="vipCreateTime" jdbcType="TIMESTAMP" property="vipcreatetime" />
    <result column="creditLimit" jdbcType="BIGINT" property="creditlimit" />
    <result column="headImg" jdbcType="VARCHAR" property="headimg" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="usableSum" jdbcType="DECIMAL" property="usablesum" />
    <result column="freezeSum" jdbcType="DECIMAL" property="freezesum" />
    <result column="dueinSum" jdbcType="DECIMAL" property="dueinsum" />
    <result column="dueoutSum" jdbcType="DECIMAL" property="dueoutsum" />
    <result column="kefuId" jdbcType="BIGINT" property="kefuid" />
    <result column="adminId" jdbcType="BIGINT" property="adminid" />
    <result column="groupId" jdbcType="BIGINT" property="groupid" />
    <result column="usableCreditLimit" jdbcType="BIGINT" property="usablecreditlimit" />
    <result column="creditlimtor" jdbcType="BIGINT" property="creditlimtor" />
    <result column="vipFee" jdbcType="DECIMAL" property="vipfee" />
    <result column="feeStatus" jdbcType="INTEGER" property="feestatus" />
    <result column="loginCount" jdbcType="BIGINT" property="logincount" />
    <result column="lockTime" jdbcType="TIMESTAMP" property="locktime" />
    <result column="cashStatus" jdbcType="INTEGER" property="cashstatus" />
    <result column="xmax" jdbcType="DECIMAL" property="xmax" />
    <result column="x" jdbcType="DECIMAL" property="x" />
    <result column="xmin" jdbcType="DECIMAL" property="xmin" />
    <result column="isFirstVip" jdbcType="INTEGER" property="isfirstvip" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="sign2" jdbcType="VARCHAR" property="sign2" />
    <result column="loginErrorCount" jdbcType="INTEGER" property="loginerrorcount" />
    <result column="isLoginLimit" jdbcType="INTEGER" property="isloginlimit" />
    <result column="isApplyPro" jdbcType="INTEGER" property="isapplypro" />
    <result column="orgName" jdbcType="VARCHAR" property="orgname" />
    <result column="userType" jdbcType="INTEGER" property="usertype" />
    <result column="sumScore" jdbcType="INTEGER" property="sumscore" />
    <result column="presrent" jdbcType="DECIMAL" property="presrent" />
    <result column="expire" jdbcType="DECIMAL" property="expire" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.huarong.p2p.api.mybatis.model.User">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, email, username, vipStatus, authStep, enable, password, dealpwd, mobilePhone, 
    refferee, rating, creditrating, lastIP, lastDate, vipCreateTime, creditLimit, headImg, 
    createTime, usableSum, freezeSum, dueinSum, dueoutSum, kefuId, adminId, groupId, 
    usableCreditLimit, creditlimtor, vipFee, feeStatus, loginCount, lockTime, cashStatus, 
    xmax, x, xmin, isFirstVip, sign, sign2, loginErrorCount, isLoginLimit, isApplyPro, 
    orgName, userType, sumScore, presrent, expire
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huarong.p2p.api.mybatis.model.User">
    insert into t_user (id, email, username, 
      vipStatus, authStep, enable, 
      password, dealpwd, mobilePhone, 
      refferee, rating, creditrating, 
      lastIP, lastDate, vipCreateTime, 
      creditLimit, headImg, createTime, 
      usableSum, freezeSum, dueinSum, 
      dueoutSum, kefuId, adminId, 
      groupId, usableCreditLimit, creditlimtor, 
      vipFee, feeStatus, loginCount, 
      lockTime, cashStatus, xmax, 
      x, xmin, isFirstVip, 
      sign, sign2, loginErrorCount, 
      isLoginLimit, isApplyPro, orgName, 
      userType, sumScore, presrent, 
      expire, content)
    values (#{id,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{vipstatus,jdbcType=INTEGER}, #{authstep,jdbcType=INTEGER}, #{enable,jdbcType=INTEGER}, 
      #{password,jdbcType=VARCHAR}, #{dealpwd,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{refferee,jdbcType=VARCHAR}, #{rating,jdbcType=INTEGER}, #{creditrating,jdbcType=INTEGER}, 
      #{lastip,jdbcType=VARCHAR}, #{lastdate,jdbcType=TIMESTAMP}, #{vipcreatetime,jdbcType=TIMESTAMP}, 
      #{creditlimit,jdbcType=BIGINT}, #{headimg,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{usablesum,jdbcType=DECIMAL}, #{freezesum,jdbcType=DECIMAL}, #{dueinsum,jdbcType=DECIMAL}, 
      #{dueoutsum,jdbcType=DECIMAL}, #{kefuid,jdbcType=BIGINT}, #{adminid,jdbcType=BIGINT}, 
      #{groupid,jdbcType=BIGINT}, #{usablecreditlimit,jdbcType=BIGINT}, #{creditlimtor,jdbcType=BIGINT}, 
      #{vipfee,jdbcType=DECIMAL}, #{feestatus,jdbcType=INTEGER}, #{logincount,jdbcType=BIGINT}, 
      #{locktime,jdbcType=TIMESTAMP}, #{cashstatus,jdbcType=INTEGER}, #{xmax,jdbcType=DECIMAL}, 
      #{x,jdbcType=DECIMAL}, #{xmin,jdbcType=DECIMAL}, #{isfirstvip,jdbcType=INTEGER}, 
      #{sign,jdbcType=VARCHAR}, #{sign2,jdbcType=VARCHAR}, #{loginerrorcount,jdbcType=INTEGER}, 
      #{isloginlimit,jdbcType=INTEGER}, #{isapplypro,jdbcType=INTEGER}, #{orgname,jdbcType=VARCHAR}, 
      #{usertype,jdbcType=INTEGER}, #{sumscore,jdbcType=INTEGER}, #{presrent,jdbcType=DECIMAL}, 
      #{expire,jdbcType=DECIMAL}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huarong.p2p.api.mybatis.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="vipstatus != null">
        vipStatus,
      </if>
      <if test="authstep != null">
        authStep,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="dealpwd != null">
        dealpwd,
      </if>
      <if test="mobilephone != null">
        mobilePhone,
      </if>
      <if test="refferee != null">
        refferee,
      </if>
      <if test="rating != null">
        rating,
      </if>
      <if test="creditrating != null">
        creditrating,
      </if>
      <if test="lastip != null">
        lastIP,
      </if>
      <if test="lastdate != null">
        lastDate,
      </if>
      <if test="vipcreatetime != null">
        vipCreateTime,
      </if>
      <if test="creditlimit != null">
        creditLimit,
      </if>
      <if test="headimg != null">
        headImg,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="usablesum != null">
        usableSum,
      </if>
      <if test="freezesum != null">
        freezeSum,
      </if>
      <if test="dueinsum != null">
        dueinSum,
      </if>
      <if test="dueoutsum != null">
        dueoutSum,
      </if>
      <if test="kefuid != null">
        kefuId,
      </if>
      <if test="adminid != null">
        adminId,
      </if>
      <if test="groupid != null">
        groupId,
      </if>
      <if test="usablecreditlimit != null">
        usableCreditLimit,
      </if>
      <if test="creditlimtor != null">
        creditlimtor,
      </if>
      <if test="vipfee != null">
        vipFee,
      </if>
      <if test="feestatus != null">
        feeStatus,
      </if>
      <if test="logincount != null">
        loginCount,
      </if>
      <if test="locktime != null">
        lockTime,
      </if>
      <if test="cashstatus != null">
        cashStatus,
      </if>
      <if test="xmax != null">
        xmax,
      </if>
      <if test="x != null">
        x,
      </if>
      <if test="xmin != null">
        xmin,
      </if>
      <if test="isfirstvip != null">
        isFirstVip,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="sign2 != null">
        sign2,
      </if>
      <if test="loginerrorcount != null">
        loginErrorCount,
      </if>
      <if test="isloginlimit != null">
        isLoginLimit,
      </if>
      <if test="isapplypro != null">
        isApplyPro,
      </if>
      <if test="orgname != null">
        orgName,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="sumscore != null">
        sumScore,
      </if>
      <if test="presrent != null">
        presrent,
      </if>
      <if test="expire != null">
        expire,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="vipstatus != null">
        #{vipstatus,jdbcType=INTEGER},
      </if>
      <if test="authstep != null">
        #{authstep,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="dealpwd != null">
        #{dealpwd,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="refferee != null">
        #{refferee,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        #{rating,jdbcType=INTEGER},
      </if>
      <if test="creditrating != null">
        #{creditrating,jdbcType=INTEGER},
      </if>
      <if test="lastip != null">
        #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null">
        #{lastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="vipcreatetime != null">
        #{vipcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creditlimit != null">
        #{creditlimit,jdbcType=BIGINT},
      </if>
      <if test="headimg != null">
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usablesum != null">
        #{usablesum,jdbcType=DECIMAL},
      </if>
      <if test="freezesum != null">
        #{freezesum,jdbcType=DECIMAL},
      </if>
      <if test="dueinsum != null">
        #{dueinsum,jdbcType=DECIMAL},
      </if>
      <if test="dueoutsum != null">
        #{dueoutsum,jdbcType=DECIMAL},
      </if>
      <if test="kefuid != null">
        #{kefuid,jdbcType=BIGINT},
      </if>
      <if test="adminid != null">
        #{adminid,jdbcType=BIGINT},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=BIGINT},
      </if>
      <if test="usablecreditlimit != null">
        #{usablecreditlimit,jdbcType=BIGINT},
      </if>
      <if test="creditlimtor != null">
        #{creditlimtor,jdbcType=BIGINT},
      </if>
      <if test="vipfee != null">
        #{vipfee,jdbcType=DECIMAL},
      </if>
      <if test="feestatus != null">
        #{feestatus,jdbcType=INTEGER},
      </if>
      <if test="logincount != null">
        #{logincount,jdbcType=BIGINT},
      </if>
      <if test="locktime != null">
        #{locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="cashstatus != null">
        #{cashstatus,jdbcType=INTEGER},
      </if>
      <if test="xmax != null">
        #{xmax,jdbcType=DECIMAL},
      </if>
      <if test="x != null">
        #{x,jdbcType=DECIMAL},
      </if>
      <if test="xmin != null">
        #{xmin,jdbcType=DECIMAL},
      </if>
      <if test="isfirstvip != null">
        #{isfirstvip,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="sign2 != null">
        #{sign2,jdbcType=VARCHAR},
      </if>
      <if test="loginerrorcount != null">
        #{loginerrorcount,jdbcType=INTEGER},
      </if>
      <if test="isloginlimit != null">
        #{isloginlimit,jdbcType=INTEGER},
      </if>
      <if test="isapplypro != null">
        #{isapplypro,jdbcType=INTEGER},
      </if>
      <if test="orgname != null">
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="sumscore != null">
        #{sumscore,jdbcType=INTEGER},
      </if>
      <if test="presrent != null">
        #{presrent,jdbcType=DECIMAL},
      </if>
      <if test="expire != null">
        #{expire,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huarong.p2p.api.mybatis.model.User">
    update t_user
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="vipstatus != null">
        vipStatus = #{vipstatus,jdbcType=INTEGER},
      </if>
      <if test="authstep != null">
        authStep = #{authstep,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="dealpwd != null">
        dealpwd = #{dealpwd,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="refferee != null">
        refferee = #{refferee,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        rating = #{rating,jdbcType=INTEGER},
      </if>
      <if test="creditrating != null">
        creditrating = #{creditrating,jdbcType=INTEGER},
      </if>
      <if test="lastip != null">
        lastIP = #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null">
        lastDate = #{lastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="vipcreatetime != null">
        vipCreateTime = #{vipcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creditlimit != null">
        creditLimit = #{creditlimit,jdbcType=BIGINT},
      </if>
      <if test="headimg != null">
        headImg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usablesum != null">
        usableSum = #{usablesum,jdbcType=DECIMAL},
      </if>
      <if test="freezesum != null">
        freezeSum = #{freezesum,jdbcType=DECIMAL},
      </if>
      <if test="dueinsum != null">
        dueinSum = #{dueinsum,jdbcType=DECIMAL},
      </if>
      <if test="dueoutsum != null">
        dueoutSum = #{dueoutsum,jdbcType=DECIMAL},
      </if>
      <if test="kefuid != null">
        kefuId = #{kefuid,jdbcType=BIGINT},
      </if>
      <if test="adminid != null">
        adminId = #{adminid,jdbcType=BIGINT},
      </if>
      <if test="groupid != null">
        groupId = #{groupid,jdbcType=BIGINT},
      </if>
      <if test="usablecreditlimit != null">
        usableCreditLimit = #{usablecreditlimit,jdbcType=BIGINT},
      </if>
      <if test="creditlimtor != null">
        creditlimtor = #{creditlimtor,jdbcType=BIGINT},
      </if>
      <if test="vipfee != null">
        vipFee = #{vipfee,jdbcType=DECIMAL},
      </if>
      <if test="feestatus != null">
        feeStatus = #{feestatus,jdbcType=INTEGER},
      </if>
      <if test="logincount != null">
        loginCount = #{logincount,jdbcType=BIGINT},
      </if>
      <if test="locktime != null">
        lockTime = #{locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="cashstatus != null">
        cashStatus = #{cashstatus,jdbcType=INTEGER},
      </if>
      <if test="xmax != null">
        xmax = #{xmax,jdbcType=DECIMAL},
      </if>
      <if test="x != null">
        x = #{x,jdbcType=DECIMAL},
      </if>
      <if test="xmin != null">
        xmin = #{xmin,jdbcType=DECIMAL},
      </if>
      <if test="isfirstvip != null">
        isFirstVip = #{isfirstvip,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="sign2 != null">
        sign2 = #{sign2,jdbcType=VARCHAR},
      </if>
      <if test="loginerrorcount != null">
        loginErrorCount = #{loginerrorcount,jdbcType=INTEGER},
      </if>
      <if test="isloginlimit != null">
        isLoginLimit = #{isloginlimit,jdbcType=INTEGER},
      </if>
      <if test="isapplypro != null">
        isApplyPro = #{isapplypro,jdbcType=INTEGER},
      </if>
      <if test="orgname != null">
        orgName = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="sumscore != null">
        sumScore = #{sumscore,jdbcType=INTEGER},
      </if>
      <if test="presrent != null">
        presrent = #{presrent,jdbcType=DECIMAL},
      </if>
      <if test="expire != null">
        expire = #{expire,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huarong.p2p.api.mybatis.model.User">
    update t_user
    set email = #{email,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      vipStatus = #{vipstatus,jdbcType=INTEGER},
      authStep = #{authstep,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      dealpwd = #{dealpwd,jdbcType=VARCHAR},
      mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      refferee = #{refferee,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=INTEGER},
      creditrating = #{creditrating,jdbcType=INTEGER},
      lastIP = #{lastip,jdbcType=VARCHAR},
      lastDate = #{lastdate,jdbcType=TIMESTAMP},
      vipCreateTime = #{vipcreatetime,jdbcType=TIMESTAMP},
      creditLimit = #{creditlimit,jdbcType=BIGINT},
      headImg = #{headimg,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      usableSum = #{usablesum,jdbcType=DECIMAL},
      freezeSum = #{freezesum,jdbcType=DECIMAL},
      dueinSum = #{dueinsum,jdbcType=DECIMAL},
      dueoutSum = #{dueoutsum,jdbcType=DECIMAL},
      kefuId = #{kefuid,jdbcType=BIGINT},
      adminId = #{adminid,jdbcType=BIGINT},
      groupId = #{groupid,jdbcType=BIGINT},
      usableCreditLimit = #{usablecreditlimit,jdbcType=BIGINT},
      creditlimtor = #{creditlimtor,jdbcType=BIGINT},
      vipFee = #{vipfee,jdbcType=DECIMAL},
      feeStatus = #{feestatus,jdbcType=INTEGER},
      loginCount = #{logincount,jdbcType=BIGINT},
      lockTime = #{locktime,jdbcType=TIMESTAMP},
      cashStatus = #{cashstatus,jdbcType=INTEGER},
      xmax = #{xmax,jdbcType=DECIMAL},
      x = #{x,jdbcType=DECIMAL},
      xmin = #{xmin,jdbcType=DECIMAL},
      isFirstVip = #{isfirstvip,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR},
      sign2 = #{sign2,jdbcType=VARCHAR},
      loginErrorCount = #{loginerrorcount,jdbcType=INTEGER},
      isLoginLimit = #{isloginlimit,jdbcType=INTEGER},
      isApplyPro = #{isapplypro,jdbcType=INTEGER},
      orgName = #{orgname,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=INTEGER},
      sumScore = #{sumscore,jdbcType=INTEGER},
      presrent = #{presrent,jdbcType=DECIMAL},
      expire = #{expire,jdbcType=DECIMAL},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huarong.p2p.api.mybatis.model.User">
    update t_user
    set email = #{email,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      vipStatus = #{vipstatus,jdbcType=INTEGER},
      authStep = #{authstep,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      dealpwd = #{dealpwd,jdbcType=VARCHAR},
      mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      refferee = #{refferee,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=INTEGER},
      creditrating = #{creditrating,jdbcType=INTEGER},
      lastIP = #{lastip,jdbcType=VARCHAR},
      lastDate = #{lastdate,jdbcType=TIMESTAMP},
      vipCreateTime = #{vipcreatetime,jdbcType=TIMESTAMP},
      creditLimit = #{creditlimit,jdbcType=BIGINT},
      headImg = #{headimg,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      usableSum = #{usablesum,jdbcType=DECIMAL},
      freezeSum = #{freezesum,jdbcType=DECIMAL},
      dueinSum = #{dueinsum,jdbcType=DECIMAL},
      dueoutSum = #{dueoutsum,jdbcType=DECIMAL},
      kefuId = #{kefuid,jdbcType=BIGINT},
      adminId = #{adminid,jdbcType=BIGINT},
      groupId = #{groupid,jdbcType=BIGINT},
      usableCreditLimit = #{usablecreditlimit,jdbcType=BIGINT},
      creditlimtor = #{creditlimtor,jdbcType=BIGINT},
      vipFee = #{vipfee,jdbcType=DECIMAL},
      feeStatus = #{feestatus,jdbcType=INTEGER},
      loginCount = #{logincount,jdbcType=BIGINT},
      lockTime = #{locktime,jdbcType=TIMESTAMP},
      cashStatus = #{cashstatus,jdbcType=INTEGER},
      xmax = #{xmax,jdbcType=DECIMAL},
      x = #{x,jdbcType=DECIMAL},
      xmin = #{xmin,jdbcType=DECIMAL},
      isFirstVip = #{isfirstvip,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR},
      sign2 = #{sign2,jdbcType=VARCHAR},
      loginErrorCount = #{loginerrorcount,jdbcType=INTEGER},
      isLoginLimit = #{isloginlimit,jdbcType=INTEGER},
      isApplyPro = #{isapplypro,jdbcType=INTEGER},
      orgName = #{orgname,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=INTEGER},
      sumScore = #{sumscore,jdbcType=INTEGER},
      presrent = #{presrent,jdbcType=DECIMAL},
      expire = #{expire,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
   <cache-ref namespace="redisCacheMapper" />
	
	
	<select id="queryUserByUserName" parameterType="java.lang.String" resultType="com.huarong.p2p.api.mybatis.model.User">
		SELECT * FROM t_user tu,t_person tp WHERE tu.`id` = tp.`userId` AND (tu.`username`=#{username} OR tu.`mobilePhone` = #{username} OR tp.`cellPhone` = #{username})
	</select>
	
	<update id="resetUserState" parameterType="com.huarong.p2p.api.mybatis.model.User">
		UPDATE t_user SET loginErrorCount = #{loginerrorcount},isLoginLimit=#{isloginlimit},lastDate=#{lastdate} where id = #{id}
	</update>
	
	<update id="updateUserState" parameterType="com.huarong.p2p.api.mybatis.model.User">
		UPDATE t_user SET loginErrorCount = #{loginerrorcount},lastDate=#{lastdate} where id = #{id}
	</update>
	
</mapper>