<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://code.alibabatech.com/schema/dubbo 
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


	<context:component-scan base-package="com.huarong.p2p.api.advice" />
	
	<!-- 自动扫描controller中的service -->
	<dubbo:annotation package="com.huarong.p2p.consumer.controller"/>
	
	<!-- spring 的自动扫描 -->
	<context:component-scan base-package="com.huarong.p2p.consumer.controller" />

	<bean id="objectMapper" class="com.huarong.p2p.api.json.CustomObjectMapper"
		init-method="init">
		<property name="camelCaseToLowerCaseWithUnderscores" value="true" />
		<property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss" />
	</bean>


	<mvc:annotation-driven validator="validator">
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper" ref="objectMapper" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:default-servlet-handler />


	<!-- 以下 validator ConversionService 在使用 mvc:annotation-driven 会 自动注册 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找 -->
				<value>classpath:messages</value>
				<value>classpath:org/hibernate/validator/ValidationMessages</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
	</bean>


	<!-- 拦截器 -->
	<!--<mvc:interceptors> <mvc:interceptor> <mvc:mapping path="/**"/> <bean 
		id="securityInterceptor" class="com.hr.api.security.SecurityInterceptor"> 
		<property name="tokenManager" ref="tokenManager"/> <property name="tokenName" 
		value="X-Token"/> </bean> </mvc:interceptor> </mvc:interceptors> -->

	<bean
		class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor">
		<property name="validator" ref="validator" />
	</bean>

	<bean id="securityAspect" class="com.huarong.p2p.consumer.security.SecurityAspect">
		<property name="tokenManager" ref="tokenManager" />
		<property name="tokenName" value="X-Token" />
	</bean>

	<!-- 切面拦截 -->
	<aop:config>
		<aop:aspect ref="securityAspect">
			<aop:around method="execute"
				pointcut="@annotation(org.springframework.web.bind.annotation.RequestMapping)" />
		</aop:aspect>
	</aop:config>

</beans>